* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body{
    margin: 0;
    background-color: black;
    font: 20px/40px Inter, sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
}

body.lock {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    padding-right: 18px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: url('./assets/img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}  

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

.hero-container {
    background-image: url('./assets/img/hero-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    position: relative;
    height: 820px;
    padding: 0;
} 

.main-container, .section-title {
    transition: 0.5s;
}

.light-theme.main-container, .light-theme.section-title {
    background: #FFFFFF;
    color: #000;
    transition: ease 0.5s;
}

.nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    line-height: 50px;
}

.nav-item {
    padding-right: 31px;
}

.language {
    display: flex;
    width: 72px;
    justify-content: space-between;
    font-weight: bold;
}

.lang {
    cursor: pointer;
    transition: 0.5s;
}

.lang:hover {
    color: #bdae82;
    transition: 0.5s;
}

.lang.checked {
    color: #bdae82;
}

.theme {
    background-position: center;
    background-image: url('./assets/svg/moon.svg');
    background-repeat: no-repeat;
    margin-left: 28px;
    margin-right: 2px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.theme.sun {
    background-image: url('./assets/svg/sun.svg');
}

.theme:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: 0.5s;
}

.logo img{
    display: block;
    transition: 0.5s;
}

.logo img:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: 0.5s;
    cursor: pointer;
}

.hero-info {
    margin: 60px 80px;
    width: 500px;
}

.hero-title {
    font: bold 60px/120px "Merriweather", serif;
    margin: 0;
}

.hero-text {
    padding: 10px 30px 25px 0;
    margin: 0;
    line-height: 40px;
}

.title-box {
    width: 50%;
    align-self: center;
    text-align: center;
    background-image: linear-gradient(to top, transparent 99px, #bdae82 99px, #bdae82 101px, transparent 101px);
    padding-bottom: 60px;
}

.title-box.light-theme {
    background-image: linear-gradient(to top, transparent 99px, #000 99px, #000 101px, transparent 101px);
}

.section-title {
    display: inline-block;
    margin: 0 auto;
    padding: 0 20px;
    font: bold 40px/80px "Merriweather", serif;
    background-color: black;
    color: #BDAE82;
}

.skills-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px;
    gap: 40px;
}

.skills-item {
    flex-basis: 320px;
    text-align: center;
    background-position: center top;
}
  
.skills-item:nth-child(1) {
    background-image: url('./assets/svg/camera.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skills-item:nth-child(2) {
    background-image: url('./assets/svg/video.svg');
    background-size: 60px 50px;
    background-repeat: no-repeat;
}

.skills-item:nth-child(3) {
    background-image: url('./assets/svg/image.svg');
    background-size: 66px 50px;
    background-repeat: no-repeat;
}

.skills-item:nth-child(4) {
    background-image: url('./assets/svg/mic.svg');
    background-size: 32px 50px;
    background-repeat: no-repeat;
}

.skills-title {
    margin: 0 auto;
    padding: 100px 0 20px 0;
}

.skills-text {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}

.gold-btn {
    position: relative;
    width: 220px;
    height: 55px;
    border: 0;
    font: inherit;
    background-color: #bdae82;
    overflow: hidden;
}

.gold-btn:hover, .black-btn:hover {
    color: #FFFFFF;
    transition: 0.5s;
    cursor: pointer;
}

.portfolio-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 60px;
}

.black-btn {
    position: relative;
    width: 220px;
    height: 55px;
    border: 2px solid #BDAE82;
    font: inherit;
    color: #BDAE82;
    background-color: transparent;
    transition: all 0.5s;
    overflow: hidden;
}

.black-btn .circle, .gold-btn .circle {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: scale 0.5s ease-out;
}

.black-btn::before, .gold-btn::before {
    content: '';
    position: absolute;
    right: 250px;
    top: 0px;
    width: 10px;
    height: 60px;
    transform: skewX(-45deg);
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));;
    transition: 0.5s ease;
}

.black-btn:hover:before, .gold-btn:hover:before {
  right: -50px;
}

.black-btn.active {
    color: #000;
    background-color: #bdae82;
}

.light-theme .black-btn.active {
    color: #fff;
}

.light-theme .black-btn {
    color: #000;
}

.light-theme .black-btn:hover {
    color: #fff;
    background: #bdae82;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

.portfolio-image {
    max-width: 100%;
}

.slowChanges {
    animation: fade 1000ms linear 1;
}

.video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 705px;
    background-image: url('./assets/img/video-bg.jpg');
    background-position: 0 -25px;
}

.play {
    padding: 0;
    border: none;
    background-color: transparent;
}

.play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: 0.5s;
    cursor: pointer;
}

.price-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 50px;
    padding-bottom: 100px;
}

.price-item {
    width: 450px;
    border: 3px solid #BDAE82;
    text-align: center;
    padding: 40px 0;
}

.price-title {
    font: bold 28px/56px "Merriweather", serif;
    margin: 0;
    
}
.price-value {
    margin: 0;
    padding: 20px 0;
    font: bold 24px/48px "Merriweather", serif;
    color: #BDAE82;
}

.price-text {
    padding-bottom: 40px;
}

.price-text span {
    display: block;
    font-size: 18px;
    line-height: 36px;
}

.contacts-container {
    height: 700px;
    background-image: url('./assets/img/contacts-bg.jpg');
    background-size: auto 700px;
    background-position: center center;
}

.contacts-section {
    padding-top: 60px;
    align-self: flex-end;
}

.contacts-box {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.contacts-title {
    display: inline-block;
    background-color: transparent;
    padding: 0;
    padding-bottom: 40px;
    margin: 0;
    font: bold 40px/80px "Merriweather", serif;
    color: #BDAE82;
}

.input {
    box-sizing: border-box;
    padding: 3px 0 3px 18px;
    border: 2px solid #BDAE82;
    font: inherit;
    color: #BDAE82;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

textarea.input{
    resize: none;
    padding-bottom: 13px;
    margin-bottom: 30px;
}

::placeholder {
    color: #BDAE82;   
}

.footer-container {
    padding: 50px 20px;
    flex-direction: row;
    align-items: center;
    line-height: 50px;
}

.data, .social-list, .rss{
    width: 33.33%;
    display: flex;
    gap: 20px;
    text-decoration: none;
}

.social-list {
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.rss {
    justify-content: center;
}

.social-list a {
    display: flex;
}

.social-icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: 0.5s;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

.link:hover {
    color: #BDAE82;
    transition: 0.5s;
}

@media(max-width: 768px) {

    .header-container {
        padding-right: 64px;
        padding-left: 60px;
        background-size: auto 620px;
        background-position:-5px -30px;
    }
    
    .hero-container{
        padding-left: 60px;
        height: 500px;
        background-size: auto 620px;
        background-position:-5px -120px;
    }

    .section {
        padding-top: 80px;
    }

    .hero-container .section{
        padding-top: 78px;
    }

    .section-title {
        font-size: 32px;
        line-height: 80px;
    }

    .hamburger {
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .hamburger:hover .line{
        background-color: #bdae82;
        transition: all 0.5S;
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .line:first-child {
        transform: translateY(13px) rotate(45deg) scaleX(1.2);
        height: 2px;
    }    

    .hamburger.open .line:last-child {
        transform: translateY(-13px) rotate(-45deg) scaleX(1.2);
        height: 2px;
    }    

    .hamburger.open .line.light-theme {
        background-color: #000;    
    }

    .hamburger.open:hover .line.light-theme {
        background-color: #bdae82;    
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 620px;
        height: 100%;
        background-color: black;
        z-index: 4;
        transition: right 0.6s ease 0s;
    }

    .nav.open {
        right: 0;
        overflow: scroll;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 127px;
        padding-top: 134px;
        font-size: 35px;
        line-height: 73px;
        gap: 16px;
    }

    .line {
        height: 3px;
        width: 50px;
        background: #FFFFFF;
        z-index: 15;
        margin: 5px 0;
        transition: all 0.6s ease 0s;;
    }

    .language{
        margin-left: auto;
    }

    .dark {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        visibility: hidden;
        opacity: 0;
    }

    .nav.open ~ .dark {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s;
    }    

    .theme {
        margin-right: 30px;
    }

    .nav.light-theme {
        background: #fff;
    }

    .light-theme .nav-link {
        color: #000;
    }

    .dark {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        visibility: hidden;
        opacity: 0;
    }

    .nav.open ~ .dark {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s;
    }    

    .hero-info {
        width: 420px;
        margin: 0;
    }

    .hero-title {
        font: normal 32px/64px "Merriweather", serif;
    }

    .hero-text{
        line-height: 1.21em;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .title-box {
        padding-bottom: 50px;
        background-image: linear-gradient(to top, transparent 89px, #bdae82 89px, #bdae82 91px, transparent 91px);
    }

    .title-box.light-theme {
        background-image: linear-gradient(to top, transparent 89px, #000 89px, #000 91px, transparent 91px);
    }

    #skills .title-box {
        padding-bottom: 45px;
        background-image: linear-gradient(to top, transparent 84px, #bdae82 84px, #bdae82 86px, transparent 86px);
    }

    #skills .title-box.light-theme {
        background-image: linear-gradient(to top, transparent 84px, #000 84px, #000 86px, transparent 86px);
    }

    .skills-items {
        column-gap: 0;
        row-gap: 76px;
        padding-bottom: 80px;
    }

    .skills-item:nth-child(2n)  {
        position: relative;
        right: 5px;
    }

    .skills-title {
        padding-top: 80px;
    }

    .skills-text {
        font-size: 18px;
        line-height: 22px;
    }

    .portfolio-btns {
        width: 90%;
        margin: 0 auto;
    }

    .video-player {
        height: 418px;
        margin: 0 -20px;
        background-size: auto 438px;
        background-position: 0 -9px;
    }

    .play img{
        width: 64.62px;
        height: 64.69px;
    }

    .price-item {
        width: 420px;
    }

    .price-items {
        padding-bottom: 80px;
    }

    .contacts-container {
        height: 600px;
        background-size: auto 600px;
    }

    .contacts-section {
        align-self: center;
        align-items: center;
        padding-top: 60px;
    }

    .contacts-box .gold-btn {
        align-self: center;
    }

    .contacts-title {
        margin: 0 auto;
        font-size: 32px;
        line-height: 64px;
    }

    .footer-container {
        flex-direction: column ;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 40px;
        line-height: 40px;
    }

    .data, .social-list, .rss {
        padding: 0;
        justify-content: center;
        width: auto;
    }

    .social-list {
        padding-top: 20px;
    }
}

@media(max-width: 620px) { 
    .nav {
        width: 100%;
    }
}

@media(max-width: 680px) { 
    .skills-item:nth-child(2n)  {
        right: 0;
    }
}

@media(max-width: 480px) { 
    .header-container {
        padding: 0 20px;
    }

    .hero-container {
        padding-left: 20px;
    }

    .hero-info {
        width: auto;
    }

    .contacts-box {
        width: auto;    
    }

    .nav-list {
        padding-left: 70px;
        padding-top: 70px;
        font-size: 24px;
        line-height: 48px;
        gap: 16px;
    }
}

@keyframes fade {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes scale {
    to {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
    }
  }
